@page
@using EasyUi.Localization;
@using Microsoft.Extensions.Localization;
@model EasyUi.Web.Pages.UniApp.IndexModel
@inject IStringLocalizer<EasyUiResource> L
@{
}
@section scripts{
    <script src="~/libs/vue/vue.min.js"></script>
    <abp-script src="/Pages/UniApp/editable-tree.js" />
    <abp-script src="/Pages/UniApp/Index.js" />
}
@section styles{
    <abp-style src="/Pages/UniApp/Index.css" />
}
<div id="main" class="row">
    <!--sidebar start-->
    <div class="col-2">
        <div class="row align-items-start">
            <a href="/UniApp" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
                <span class="fs-5 fw-semibold">@L["Component"]</span>
            </a>
            <ul class="list-unstyled ps-0">
                <li class="mb-1">
                    <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="true">
                        @L["Uni-Ui"]
                    </button>
                    <div class="collapse show" id="home-collapse" style="">
                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                            <li v-for="(item,idx) in componentList">
                                <a href="#" class="link-dark d-inline-flex text-decoration-none rounded" v-on:click="getComponent(idx)">{{item.name}}</a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <!--sidebar end-->
    <!--workspace start-->
    <div class="col-6">
        <div class="row">
            <p class="row fs-5 fw-semibold border-bottom pb-3">@L["AttributeSetting"] {{'<'+currentTagName+'/>'}} </p>
            <div class="text-bg-dark rounded text-end" style="margin-bottom:-8px">
                <span class="fa fa-copy btn-copy" v-on:click="copy('one')" title="@L["Copy to clipboard"]"></span>
            </div>
            <textarea title="componentHtml" style="resize:vertical;border:none" class="form-control text-bg-dark" rows="5" v-model="componentHtml"></textarea>
            <abp-table striped-rows="true" class="nowrap">
                <thead>
                    <tr>
                        <th scope="Column">@L["TagAttributeName"]</th>
                        <th scope="Column">@L["Value"] <i class="fa fa-info-circle" title="使用@@设置model绑定。"></i></th>
                        <th scope="Column">@L["TagAttributeDescription"]</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(item,idx) in properties">
                        <th>{{item.name}}</th>
                        <th><textarea rows="1" :title="getTypeName(item.type)" :placeholder="item.defaultValue" class="form-control" v-model="item.value"></textarea></th>
                        <th>{{item.description}}</th>
                    </tr>
                </tbody>
            </abp-table>
        </div>
    </div>
    <!--workspace end-->
    <!--present start-->
    <div class="col-4">
        <div class="row">
            <p class="fs-5 fw-semibold border-bottom pb-3">@L["DomTree"]</p>
            <editable-tree ref="tree" @@item-click="treeClick" :items="items" style="height:201px;width:100%;overflow-x:scroll"></editable-tree>
            <pre style="height: 542px;" class="text-bg-dark" :class="{'full':fullscreen}">
            <span>
            <i class="fa fa-copy" style="color:white" v-on:click="copy('all')" title="@L["Copy to clipboard"]"></i>
            <i class="fa fa-compress" style="color:white" v-show="fullscreen" v-on:click="fullscreen=false" title="@L["Full"]"></i>
            <i class="fa fa-expand" style="color:white" v-show="!fullscreen" v-on:click="fullscreen=true" title="@L["Normal"]"></i>
            </span>
            {{pageHtml}}
        </pre>
        </div>
    </div>
    <!--present end-->
</div>